@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: Inter;
}

.limit-text {
  --max-lines: 3;
  --line-height: 1.5;

  max-height: calc(var(--max-lines) * var(--line-height) * 1em);
  line-height: calc(var(--line-height));
  overflow: hidden;
}
